@model IEnumerable<CRUD_MVC.Models.Contacto>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:30px">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2> Lista de contactos</h2>
        </div>

        @*<p class="btn btn-success" style="margin-bottom:10px;">
                @Html.ActionLink("Create New", "Create")
            </p>*@

        <div class="panel-body">

            <a href="@Url.Action("Registrar","Contacto")" class="btn btn-primary" style=margin-bottom:10px;>Nuevo</a>

            <div class="table-responsive">

                <table class="table table-striped">
                    <tr>
                        @*<th>
                                @Html.DisplayNameFor(model => model.IdContacto)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Numero)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Correo)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.IdContacto)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Numero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td>

                                <a href="@Url.Action("Editar","Contacto", new { idContacto = item.IdContacto })" class="btn btn-warning">Editar</a>
                                <a href="@Url.Action("Eliminar", "Contacto", new { idContacto = item.IdContacto })" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>

        </div>
    </div>
</div>
